
<div class="container">
    <input id="signup_toggle" type="checkbox">
    <form class="form">
        <div class="form_front">
            <div class="form_details">ParkCam</div>
            <input [(ngModel)]="email" type="text" class="input" placeholder="Email">
            <input [(ngModel)]="password" type="password" class="input" placeholder="Password">
            <button class="btn" (click)="login()">Entrar</button>
            <span class="switch">No tienes cuenta? 
                <label for="signup_toggle" class="signup_tog">
                    Registrate
                </label>
            </span>
        </div>
        <div class="form_back">
            <div class="form_details">Solicitud de Cuenta</div>
            <input type="text" class="input" placeholder="Username">
            <input type="text" class="input" placeholder="Email">
            <input type="password" class="input" placeholder="Password">
            <input type="password" class="input" placeholder="Confirm Password">
            <button class="btn" (click)="signup()">Enviar</button>
            <span class="switch">Ya tienes cuenta? 
                <label for="signup_toggle" class="signup_tog">
                    Ingresa
                </label>
            </span>
        </div>
    </form>
</div>
